.links {
  display: flex;
  flex-direction: row;
}

.nexTripLogo {
  max-height: 3rem;
}

.help {
  justify-self: end;
}

.appNav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* left | logo | right  */
  align-items: center;
}

.appNav > h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}